.Cat {
    width: calc(100% - 40px);
    margin: 20px auto;
    box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.15);
    background-color: #ffffff;
}

.CatImg {
    width: auto;
    max-width: 100%;
}

.CatName {
    padding: 15px 10px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}