.CatList {
    max-width: 991px;
    margin: 0 auto;
}

.CatHeader {
    text-align: center;
}

.CatContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.Cat {
    flex-basis: calc(100%/3 - 20px);
    box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.15);
    margin: 10px;
    background-color: #ffffff;
    text-decoration: none;
    transition: .4s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}

.Cat:after {
    content: '';
    background: url('../../icons/arrows.svg') no-repeat center;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
}

.Cat:hover {
    box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.45);
}

.Cat:hover:after {
    transform: translate(10px, 0);
}

.CatName {
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    color: #000;
}